@import "tailwindcss";
@plugin "daisyui";

@theme inline {
	--font-primary: var(--font-nunito), apple-system, sans-serif;
	--font-heading: var(--font-breeSerif), serif;
	--font-brand: var(--font-pacifico), cursive;

	--color-prime: var(--color-teal-400);
	--color-second: var(--color-pink-200);
	--color-brand: var(--color-orange-200);
	--color-background: #fffdfa;
	--color-text: oklch(23.574% 0.066 313.189);
}
